/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
.p-nav{
	padding: 3rem;
	align-items: center;
	width: 280px;
	height: 100vh;
	max-height: 100vh;
	display: block;
	background-color: #fff;
	&__logo{
		@include flex-jbetween;
		align-items: center;
		margin: 0 0 2rem 0;
		img{
			height: 50px;
		}
	}
	&__list{
		a{
			@include flex;
			text-decoration: none;
			font-size: 1.5rem;
			color: var(--text-color);
			span {
				margin-left: 1.3rem;
			}
		}
	}
	&__ttl{
		margin: 1rem 0 1.5rem;
	}
}