/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
.l-main {
	text-align: center;
    max-width: 100%;
    display: block;
    box-sizing: border-box;
}
.container{
    margin: 0 4%;
    padding: 0 2%;
	@include sp{
		margin: 0 2%;
	}
}