extends _layout/default

block vars
  -title        = 'Home'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = ''

block container
  section.c-slide
    ul
      li
        a(href)
          .c-slide__img 
            img(src="https://picsum.photos/1200/400?random=8", alt="", srcset="")
            i.icon.icon-play
  section.c-author
    ul 
      li
        a(href)
          .c-author__img 
            img(src="https://picsum.photos/300/300?random=1", alt="", srcset="")
          span Nguyen Thanh Tung
      li
        a(href)
          .c-author__img 
            img(src="https://picsum.photos/300/300?random=2", alt="", srcset="")
          span Phạm Minh Mẫn
      li
        a(href)
          .c-author__img 
            img(src="https://picsum.photos/300/300?random=3", alt="", srcset="")
          span Nguyen Thanh Tung
      li
        a(href)
          .c-author__img 
            img(src="https://picsum.photos/500/300?random=4", alt="", srcset="")
          span Phạm Minh Mẫn                
      li
        a(href)
          .c-author__img 
            img(src="https://picsum.photos/300/300?random=1", alt="", srcset="")
          span Nguyen Thanh Tung
      li
        a(href)
          .c-author__img 
            img(src="https://picsum.photos/300/300?random=2", alt="", srcset="")
          span Phạm Minh Mẫn
      li
        a(href)
          .c-author__img 
            img(src="https://picsum.photos/300/300?random=3", alt="", srcset="")
          span Nguyen Thanh Tung
      li
        a(href)
          .c-author__img 
            img(src="https://picsum.photos/500/300?random=4", alt="", srcset="")
          span Phạm Minh Mẫn   
      li
        a(href)
          .c-author__img 
            img(src="https://picsum.photos/300/300?random=2", alt="", srcset="")
          span Phạm Minh Mẫn
      li
        a(href)
          .c-author__img 
            img(src="https://picsum.photos/300/300?random=3", alt="", srcset="")
          span Nguyen Thanh Tung
      li
        a(href)
          .c-author__img 
            img(src="https://picsum.photos/500/300?random=4", alt="", srcset="")
          span Phạm Minh Mẫn   
      li
        a(href)
          .c-author__img 
            img(src="https://picsum.photos/300/300?random=3", alt="", srcset="")
          span Nguyen Thanh Tung
      li
        a(href)
          .c-author__img 
            img(src="https://picsum.photos/500/300?random=4", alt="", srcset="")
          span Phạm Minh Mẫn                      