footer.c-footer
    .c-footer__top 
        ul.c-footer__inner.container
            li 
                a(href) Nội quy cộng đồng
            li 
                a(href) Thoả thuận sử dụng dịch vụ   
    .c-footer__middle 
       .c-footer__inner.container
            dl 
                dt Cộng đồng
                dd 
                    a(href) Maybe You Missed This F***king News
                dd 
                    a(href) Maybe We Should Talk 'Bout Fashion
                dd 
                    a(href) Maybe You Should Try This Cool Game       
                dd 
                    a(href) Maybe You Never Watched This Movie    
                dd 
                    a(href) Maybe This Art Should Be Known          
            dl 
                dt Liên kết
                dd 
                    a(href) Maybe You Missed This F***king News
                dd 
                    a(href) Maybe We Should Talk 'Bout Fashion
                dd 
                    a(href) Maybe You Should Try This Cool Game       
                dd 
                    a(href) Maybe You Never Watched This Movie    
                dd 
                    a(href) Maybe This Art Should Be Known                          
            dl 
                dt Theo dõi chúng tôi
                dd 
                    a(href) Maybe You Missed This F***king News
                dd 
                    a(href) Maybe We Should Talk 'Bout Fashion
                dd 
                    a(href) Maybe You Should Try This Cool Game       
                dd 
                    a(href) Maybe You Never Watched This Movie    
                dd 
                    a(href) Maybe This Art Should Be Known       
            dl 
                dt Cộng đồng
                dd 
                    a(href) Maybe You Missed This F***king News
                dd 
                    a(href) Maybe We Should Talk 'Bout Fashion
                dd 
                    a(href) Maybe You Should Try This Cool Game       
                dd 
                    a(href) Maybe You Never Watched This Movie    
                dd 
                    a(href) Maybe This Art Should Be Known                                                                    
    .c-footer__bottom
        .c-footer__inner.container
            p
                | Chịu trách nhiệm nội dung: Nguyễn Tấn Kiến Phước 
                br
                | Giấy phép MXH : số 82 / GP-BTTTT, ngày cấp 28 tháng 2 năm 2020, cấp tại thành phố Hà Nội.
                br
                | Website đang trong giai đoạn thử nghiệm
            p
                strong CÔNG TY TNHH MAYBE GROUP
                br
                | Địa chỉ: 384/30 Nam Kỳ Khởi Nghĩa, Phường Võ Thị Sáu, Quận 3, TP. HCM
                br
                | MST: 0313255119
                br
                | Số điện thoại: 
                a(href='tel:02862713156') 02862713156

